Repository ivannovak/glide: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-mod-tidy, go-test

go-fmt:
  name: go fmt
  entry: gofmt
  args:
  - -w
  - -s
  language: system
  pass_filenames: true

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

go-test:
  name: go test (fast)
  entry: go
  args:
  - test
  - -short
  - ./...
  language: system
  pass_filenames: false

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  pkg/version/version.go
Due: go-fmt, go-test

Notes added by 'git notes add'
  b016144ce6ba88e2bcc72af894539e6437959f0b
Due: none

fix(config): load parent directory configs in discovery
  internal/config/discovery.go
Due: go-fmt, go-test

feat(shell): add script sanitization mode for YAML commands
  internal/cli/yaml_executor.go
  internal/cli/yaml_executor_test.go
  internal/shell/sanitizer.go
  internal/shell/sanitizer_test.go
Due: go-fmt, go-test

test(e2e): update YAML sanitization tests for script mode default
  tests/e2e/yaml_commands_test.go
Due: go-fmt, go-test

fix: post-v3 release fixes (#20)
  .github/workflows/ci.yml
  internal/cli/yaml_executor.go
  internal/cli/yaml_executor_test.go
  internal/config/discovery.go
  internal/shell/sanitizer.go
  internal/shell/sanitizer_test.go
  pkg/logging/config.go
  pkg/logging/config_test.go
  pkg/plugin/sdk/manager_lifecycle_test.go
  tests/contracts/plugin_sdk_contract_test.go
  tests/e2e/yaml_commands_test.go
Due: go-fmt, go-test

fix(update): ensure state persists before process exits
  cmd/glide/main.go
  pkg/update/notification.go
Due: go-fmt, go-test

feat(update): add proactive update notification system (#21)
  cmd/glide/main.go
  internal/config/discovery.go
  internal/config/types.go
  pkg/update/notification.go
  pkg/update/notification_test.go
Due: go-fmt, go-test

Notes added by 'git notes add'
  a84624446d25c08443d359802c322c12e07d93ee
Due: none

fix: add missing spaces in command examples (#22)
  docs/adr/ADR-007-plugin-architecture-evolution.md
  docs/adr/ADR-012-yaml-command-definition.md
  docs/core-concepts/README.md
  docs/getting-started/first-steps.md
  docs/getting-started/installation.md
  docs/specs/custom-aliases/product.md
  docs/specs/framework-detection/product.md
  docs/specs/framework-detection/tech.md
  docs/specs/implementation-plan.md
  docs/troubleshooting.md
  internal/cli/config.go
  internal/cli/mode_helpers.go
  internal/cli/selfupdate.go
  internal/cli/version.go
Due: go-fmt, go-test

Notes added by 'git notes add'
  3b89c324abf9b638bcfcc4d7cba1d5d2d78ebaf9
Due: none

chore: update Go toolchain to 1.24.11
  go.mod
Due: go-mod-tidy

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
  pkg/version/version.go
Due: go-fmt, go-test

fix(plugins): use consistent naming for installed plugins
  internal/cli/plugins.go
Due: go-fmt, go-test

Notes added by 'git notes add'
  b996d222c78fbb5cdd0eb3bc9aa3ae0c87c8e7ca
Due: none

fix(ci): use go-version-file to respect toolchain directive
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  b051d7df73d571b67c6b4dca667ba0d79f5d0108
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  go-test: any of: \.go$
